{# @var data \Sylius\Component\Core\Model\PromotionCouponInterface #}

<span class="coupon-url" data-coupon="{{ data.code }}" data-base-url="{{ url('sylius_shop_homepage') }}">{{ url('sylius_shop_homepage', {'coupon': data.code}) }}</span>
